# Amazon Sales Data Analysis

Python * E-Commerce Sales Data Set, Amazon Sales Dataset

## Objective - Increase revenue and improve product category performance


Calculate the percentage of revenue for the top 3 product categories, and aim to increaase the percentage of revenue for the lowest of the top 3 categories by 5% by the end of the Q3 2022.
- reduce dependence on a single category



## Preliminary Analysis

Based on the analysis, we can draw some preliminary insights about the Q2 2022 performance of Amazon India:

* The total revenue for Q2 2022 decreased by -18.77% form April to June, with May revenue experiencing a -9.06% decrease form April, and June revenue seeing a -10.68% decrease from May, which is a cause of concern.

* The revenue is dominated by the product category "Set," which accounts for 49.88% of total revenue, followed by kurta with 27.09%, and Western Dress with 14.28%.

* The top 5 product categories by average price in dollars are Set ($9.43), Saree ($9.14), Western Dress ($8.75), Ethnic Dress ($8.26), and Top ($6.09), indicating that these products are high-value orders.

* The total number of cancelled and returned orders was 49,178, which represents 17.53% of all orders. Of these, 14.22% were cancelled and 1.64% were returned.

* The average order amount by customer type is $8.21 for business customers and $7.37 for regular customers.

* The most popular product category varies by state, and it may be worthwhile to analyze the reasons behind these trends and invest in marketing campaigns or promotion accordlingly.



## Analysis Summary and Recommendations


* Use promotions to drive interest in the Western Dress product by targeting the top 50% of states ranked by sales revenue since their revenue is between 10 and 100 times more than the top ranked states by revenue in the lower 50%.



## Implementation and Analysis of Strategies

* Work with the client to implement the following promotions:
    * Promotion to drive interest in the Western Dress category
* Monitor the Impact of Strategies
    * Track the sales revenue for Western Dress category after the promotions are implemented
* Analyze the Effectiveness of the Strategies
    * Conduct an analysis after the promotions have been running for some time

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

sns.set(style='darkgrid')

In [12]:
df = pd.read_csv('archive/Amazon Sale Report.csv', low_memory=False)
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [14]:
df.nunique().to_frame(name='Count of Unique Values')

                    Count of Unique Values
index                               128975
Order ID                            120378
Date                                    91
Status                                  13
Fulfilment                               2
Sales Channel                            2
ship-service-level                       2
Style                                 1377
SKU                                   7195
Category                                 9
Size                                    11
ASIN                                  7190
Courier Status                           3
Qty                                     10
currency                                 1
Amount                                1410
ship-city                             8955
ship-state                              69
ship-postal-code                      9459
ship-country                             1
promotion-ids                         5787
B2B                                      2
fulfilled-by                             1
Unnamed: 22                              1

In [17]:
df.apply(pd.unique).to_frame(name='Unique Values')

                                                        Unique Values
index               [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
Order ID            [405-8078784-5731545, 171-9198151-1101146, 404...
Date                [04-30-22, 04-29-22, 04-28-22, 04-27-22, 04-26...
Status              [Cancelled, Shipped - Delivered to Buyer, Ship...
Fulfilment                                         [Merchant, Amazon]
Sales Channel                                 [Amazon.in, Non-Amazon]
ship-service-level                              [Standard, Expedited]
Style               [SET389, JNE3781, JNE3371, J0341, JNE3671, SET...
SKU                 [SET389-KR-NP-S, JNE3781-KR-XXXL, JNE3371-KR-X...
Category            [Set, kurta, Western Dress, Top, Ethnic Dress,...
Size                 [S, 3XL, XL, L, XXL, XS, 6XL, M, 4XL, 5XL, Free]
ASIN                [B09KXVBD7Z, B09K3WFS32, B07WV4JV4D, B099NRCT7...
Courier Status                   [nan, Shipped, Cancelled, Unshipped]
Qty                                  [0, 1, 2, 15, 3, 9, 13, 5, 4, 8]
currency                                                   [INR, nan]
Amount              [647.62, 406.0, 329.0, 753.33, 574.0, 824.0, 6...
ship-city           [MUMBAI, BENGALURU, NAVI MUMBAI, PUDUCHERRY, C...
ship-state          [MAHARASHTRA, KARNATAKA, PUDUCHERRY, TAMIL NAD...
ship-postal-code    [400081.0, 560085.0, 410210.0, 605008.0, 60007...
ship-country                                                [IN, nan]
promotion-ids       [nan, Amazon PLCC Free-Financing Universal Mer...
B2B                                                     [False, True]
fulfilled-by                                         [Easy Ship, nan]
Unnamed: 22                                              [nan, False]

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
index,128975.0,64487.000000,37232.019822,0.0,32243.5,64487.0,96730.5,128974.0
Qty,128975.0,0.904431,0.313354,0.0,1.0,1.0,1.0,15.0
Amount,121180.0,648.561465,281.211687,0.0,449.0,605.0,788.0,5584.0
ship-postal-code,128942.0,463966.236509,191476.764941,110001.0,382421.0,500033.0,600024.0,989898.0

In [20]:
df.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000